[submodule "School/programmeren3/Pdf"]
	path = School/programmeren3/Pdf
	url = git@github.com:lucvervoort/Pdf.git
[submodule "School/programmeren3/BeerTest"]
	path = School/programmeren3/BeerTest
	url = git@github.com:lucvervoort/BeerTest.git
[submodule "School/programmeren3/MusicStoreLab"]
	path = School/programmeren3/MusicStoreLab
	url = git@github.com:lucvervoort/MusicStoreLab.git
[submodule "School/programmeren3/EventHandler"]
	path = School/programmeren3/EventHandler
	url = git@github.com:lucvervoort/EventHandler.git
[submodule "School/programmeren3/Spikes"]
	path = School/programmeren3/Spikes
	url = git@github.com:lucvervoort/Spikes.git
[submodule "School/programmeren3/exercises"]
	path = School/programmeren3/exercises
	url = git@github.com:lucvervoort/exercises.git
[submodule "School/programmeren3/Examples"]
	path = School/programmeren3/Examples
	url = https://github.com/lucvervoort/Examples.git
[submodule "School/andere prof/SolutionFileIO"]
	path = School/andere prof/SolutionFileIO
	url = https://github.com/tvdewiel/SolutionFileIO.git
[submodule "School/andere prof/WRdata"]
	path = School/andere prof/WRdata
	url = https://github.com/tvdewiel/WRdata.git
[submodule "School/andere prof/SolutionCollections"]
	path = School/andere prof/SolutionCollections
	url = https://github.com/tvdewiel/SolutionCollections.git
[submodule "School/andere prof/Events"]
	path = School/andere prof/Events
	url = https://github.com/tvdewiel/Events.git
[submodule "School/andere prof/TutorialDoc"]
	path = School/andere prof/TutorialDoc
	url = https://github.com/tvdewiel/TutorialDoc.git
[submodule "School/andere prof/RoadToLINQ"]
	path = School/andere prof/RoadToLINQ
	url = https://github.com/tvdewiel/RoadToLINQ.git
[submodule "School/andere prof/SolutionIO"]
	path = School/andere prof/SolutionIO
	url = https://github.com/tvdewiel/SolutionIO.git
