<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="forestConnection"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=LAPTOP-HK7G5H0N\SQLEXPRESS;Initial Catalog=EscapeFromTheWoods;Integrated Security=True" />
  </connectionStrings>
</configuration>